/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End of CSS Reset */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Setting Entire Page Size */

body {
  width: 850px;
  font: sans-serif;
  font-size: 16px;
  margin: 25px auto;

}

/*Header Position and Styles*/

.headerPosition {
  position: relative;
  margin: 0 auto;
}

    .logo {
      position: relative;
      margin: 0 0;
      display: inline-block;
      text-indent: -9999px;
      width: 300px;
      height: 120px;
      background: url('../images/chicago-logo.svg');
      background-size: 300px 150px;
    }


    .navLineUp {
      display: inline-block;
      position: absolute;
      right: 50px;
      top: 50px;
    }

    .nav-style li a{
      color: gray;
      text-decoration: none;
    }
    .nav-style li a:hover{
      color: black;
    }

    nav li {
      display: inline-block;
      margin: 0 5px;
    }


    header{
      margin:0 0;
    }
/*Main Positioning */
main {
margin: 0 0;

}

/* carousel */

#carousel{
    overflow: hidden;
    width: 100%;
    position: relative;
}

    #panes{
        list-style:none;
        position:relative;
        width: 500%; /* Number of panes * 100% */
        overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        height: 450px;
    }

    #panes > li{
        position:relative;
        float:left;
        width:20%; /* 100 / number of panes */
        height: auto;
    }

    #carousel img{
        display:block;
        width: 100%;
        max-width:100%;
    }
/*Button Styling and Position*/

.buttonStyle{
background-color: white;
border: 0;}

    .buttonStyle:hover{
      background-color: gray;
    }

    .buttonStyle:active{
      background-color: black;
    }

    .arrowImgSize{
      width: 75px;
    }

    .arrowLeftPosition{
      position: relative;
      top: 300px;
      left: -125px;
    }

    .arrowRightPosition{
      position: relative;
      right: -800px;
      top: 300px;
    }

